{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
        <img src="{{ advert.image.url}}" width="10px" height="10px">
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  <div style="text-align:center;">
  </ul>
  <ul class="pagination">
    {% for i in 1..totalPages %}
    <li {% if i == page %} class="active"{% endif %}><a href="{{ path('oc_platform_home', {'page': i}) }}">
    {{ i }}
    </a>
    </li>
    {% endfor %}
  </ul>
  </div>

{% endblock %}
